
<div class="col-md-3 float-left col-1 pl-0 pr-0 collapse width show" id="sidebar">
  <div class="list-group border-0 text-center text-md-left">
    <a class="list-group-item d-inline-block collapsed" data-parent="#sidebar" routerLink="/estudante/trabalho">
      <i class="fa fa-user"></i>
      <span class="d-none d-md-inline active">Meus Supervisionandos</span>
    </a>

    <a class="list-group-item d-inline-block collapsed" data-parent="#sidebar" routerLink="/estudante/trabalho">
      <i class="fa fa-users"></i>
      <span class="d-none d-md-inline">Oponencias</span>
    </a>

    <a class="list-group-item d-inline-block collapsed" data-parent="#sidebar" routerLink="/estudante/trabalho">
      <i class="fa fa-file-text"></i>
      <span class="d-none d-md-inline">Temas</span>
    </a>

    <a class="list-group-item d-inline-block collapsed" data-parent="#sidebar" href="/docente/eventos">
      <i class="fa fa-calendar"></i>
      <span class="d-none d-md-inline">Eventos</span>
    </a>




  </div>
</div>
