<app-barra-do-topo></app-barra-do-topo>
<div class="container">
    <div class="container card pull-left col-md-12" style="margin-top: 70px">
        <div class="card-body">
            <div class="" [ngStyle]="{'margin-top':'10px'}">
                <h5>Detalhes do Trabalho</h5>

                <!--<app-submeter-trabalho-form></app-submeter-trabalho-form>-->

            </div>
        </div>
    </div>
</div>

<!--UMA SUGESTAOO-->
<!--<div class="media mb-1">-->
<!--<div class="col-lg-3 col-sm-12">-->
<!--<a class="media-left waves-light">-->
<!--<img class="img-fluid" src="../../../../assets/imagens/trabalho/trabalho-img.png" alt="Generic placeholder image">-->
<!--</a>-->
<!--</div>-->

<!--<div class="col-lg-9 col-sm-12" [ngStyle]="{'height':'240px'}">-->
<!--<div class="media-body">-->
<!--<p class="bold-text" [ngStyle]="{'float':'right'}">ha 2 dias</p>-->
<!--<h4 class="media-heading">Ercilio Marques Mars Miiki Malukinho</h4>-->
<!--<h5 class="media-heading bold-text">Problematica da especializacao e auto-determinacao na exploraacao de conteudo relativamente virado a aspectos ligados exclusivamente a mulher</h5>-->

<!--<p>-->
<!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cupiditate temporibus iure soluta.-->
<!--Quasi mollitia maxime nemo quam accusamus possimus, voluptatum expedita assumenda. Earum sit id ullam eum vel delectus!-->
<!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cupiditate temporibus iure soluta.-->
<!--Quasi mollitia maxime nemo quam accusamus possimus.-->
<!--</p>-->

<!--<button type="button" class="btn btn-primary waves-light" mdbRippleRadius>Ler documento</button>-->
<!--<button type="button" class="btn btn-primary waves-light" mdbRippleRadius>Detalhes</button>-->
<!--<ul class="inline-ul right" [ngStyle]="{'margin-top':'20px'}">-->
<!--<li>-->
<!--<i class="fa fa-eye" aria-hidden="true"></i>-->
<!--<span>18 | </span>-->
<!--</li>-->
<!--<li>-->
<!--<span>SAUDE MENTAL | ANALISE | INFORMATICA </span>-->
<!--</li>-->
<!--&lt;!&ndash;<li><i class="fa fa-star"></i></li>&ndash;&gt;-->
<!--&lt;!&ndash;<li><i class="fa fa-star"></i></li>&ndash;&gt;-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!-- FIM DE UMA SUGESTAOO-->


ioioi
<!--id: {{-->
    <!--trabalho.id-->
<!--}}-->