<!--<app-submeter-protocolo (output)="getModalProto($event)"></app-submeter-protocolo>-->
<div [ngStyle]="{'margin-top':'10px'}">
  <h2>Documentos submetidos</h2>
  <hr>

  <div class="row">

      <button type="button" class="btn btn-info waves-light" mdbRippleRadius>
        <i class="fa fa-file"></i>
        Regras de Submissao
      </button>
    </div>


  <div class="card" style="margin-top: 10px">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
        <tr>
          <th>#</th>
          <th>Ficheiro</th>
          <th>Tipo de Ficheiro</th>
          <th>Data de submissao</th>
          <th>Estado</th>
          <th></th>
          <th></th>
        </tr>
        </thead>
        <tbody *ngFor="let file of ficheiros">
        <tr  class="hoverable" (click)="onClickFile(file)"  >
          <th scope="row">{{file.id}}</th>
          <td>{{file.caminho}}</td>
          <td>{{file.categoria_ficheiro.designacao}}</td>
          <td>{{file.created_at}}</td>
          <td>{{file.estado_ficheiros[file.estado_ficheiros.length-1].designacao}} </td>
          <td><a href="http://127.0.0.1:8000/api/display/{{file.caminho}}" target="_blank"><i class="fa fa-eye"></i></a></td>

        </tr>
        </tbody>
      </table>
      <div class="row">


        <div class="col-md-3" *ngIf="estado=='Trabalho por Retiticar'">
          <button   class="btn btn-secondary waves-light"   mdbRippleRadius (click)="onMostrarModal()">
            <i class="fa fa-upload"></i>
            Submeter protocolo
          </button>
      </div>

        <div class="col-md-3" *ngIf="estado=='Aprovado'">
          <button   class="btn btn-primary waves-light"   mdbRippleRadius (click)="onMostrarModal()">
            <i class="fa fa-upload"></i>
            Submeter relatorio
          </button>
      </div>

        <div class="col-md-3" *ngIf="estado=='Por Publicar'">
          <button   class="btn btn-primary waves-light"   mdbRippleRadius (click)="onMostrarModal()">
            <i class="fa fa-upload"></i>
            Submeter relatorio pdf
          </button>
      </div>
    </div>
  </div>

</div>
  </div>
</div>
<app-submeter-trabalho-final [estado]="estado" (output)="getModal($event)"></app-submeter-trabalho-final>
<app-detalhes-ficheiro  (output)="getModalAvaliacao($event)"  [(avaliavao)] = "avaliacaoTrabalho"></app-detalhes-ficheiro>
