<p style="font-weight: bold; float: left; margin-right: 5px">Estudante: </p>
<p>Alfredo Sebastiao</p>

<p style="font-weight: bold; float: left; margin-right: 5px">Curso: </p>
<p>Informatica</p>

<p style="font-weight: bold; float: left; margin-right: 5px">Area Tematica:</p>
<p>Saude mental</p>

<p style="font-weight: bold; float: left; margin-right: 5px">Data de Submissao:</p>
<p>20 de novemro de 2017</p>


<p style="font-weight: bold; float: left; margin-right: 5px">Estado da Submissao:</p>
<p>A Aguardar confirmacao de supervisao</p>

<p style="font-weight: bold; float: left; margin-right: 5px">Tema:</p>
<p>tettetdsdsddadsd</p>

<p style="font-weight: bold; float: left; margin-right: 5px">Ficheiro:</p>
<p><a>nome do ficheiro</a></p>




