<div class="example-container">

  <!--<mat-table #table [dataSource]="dataSource" [ngStyle]="{'min-height':'750px'}">-->
    <!--&lt;!&ndash; ID Column &ndash;&gt;-->
    <!--<ng-container matColumnDef="userId">-->
      <!--<mat-header-cell *matHeaderCellDef> ID </mat-header-cell>-->
      <!--<mat-cell *matCellDef="let row"> {{row.id}} </mat-cell>-->
    <!--</ng-container>-->

    <!--&lt;!&ndash; Progress Column &ndash;&gt;-->
    <!--<ng-container matColumnDef="progress">-->
      <!--<mat-header-cell *matHeaderCellDef> Progress </mat-header-cell>-->
      <!--<mat-cell *matCellDef="let row"> {{row.progress}}% </mat-cell>-->
    <!--</ng-container>-->

    <!--&lt;!&ndash; Name Column &ndash;&gt;-->
    <!--<ng-container matColumnDef="userName">-->
      <!--<mat-header-cell *matHeaderCellDef> Name </mat-header-cell>-->
      <!--<mat-cell *matCellDef="let row"> {{row.name}} </mat-cell>-->
    <!--</ng-container>-->

    <!--&lt;!&ndash; Color Column &ndash;&gt;-->
    <!--<ng-container matColumnDef="color">-->
      <!--<mat-header-cell *matHeaderCellDef> Color </mat-header-cell>-->
      <!--<mat-cell *matCellDef="let row" [style.color]="row.color"> {{row.color}} </mat-cell>-->
    <!--</ng-container>-->

    <!--&lt;!&ndash; Name Column &ndash;&gt;-->
    <!--<ng-container matColumnDef="operacoes">-->
      <!--<mat-header-cell *matHeaderCellDef> Detalhes </mat-header-cell>-->
      <!--<mat-cell *matCellDef="let row" >-->
        <!--<a>-->
          <!--<span><i class="fa fa-info"></i></span>-->
        <!--</a>-->
      <!--</mat-cell>-->
    <!--</ng-container>-->


    <!--<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>-->
    <!--<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>-->
  <!--</mat-table>-->

  <!--<mat-paginator #paginator-->
                 <!--[length]="exampleDatabase.data.length"-->
                 <!--[pageIndex]="0"-->
                 <!--[pageSize]="14"-->
                 <!--[pageSizeOptions]="[5, 10, 25, 100]">-->

</div>