<div>
  <!--<h1 class="text-center text-info text-uppercase" [*ngIf]="(estudantes.length == 0)">Nenhum Supervisionando Actual</h1>-->
  <table class="table" >
    <!--Table head-->
    <thead>
    <tr class="text-black">
      <th>Tema do trabalho</th>
      <th>Submetido em</th>
      <th>Data da Pre-defesa </th>
      <th>Data da Defesa</th>
      <th>Nome do estudante</th>
    </tr>
    </thead>
    <!--Table head-->
    <!--Table body-->
    <tbody *ngFor="let oponencia of oponencias">
    <tr>
      <td>{{oponencia[0].titulo}}</td>
      <td>{{ oponencia[0].created_at | date : 'dd/MM/yyyy'}}</td>
      <td>{{ oponencia[0].created_at | date : 'dd/MM/yyyy'}}</td>
      <td>{{ oponencia[0].created_at | date : 'dd/MM/yyyy'}}</td>
      <td>{{ oponencia[0].nome }} {{ oponencia[0].apelido}}</td>
     
    </tr>
    </tbody>
    <!--Table body-->
  </table>
</div>


