<mat-tab-group class="demo-tab-group">

  <mat-tab label="Tab 1">
    <ng-template mat-tab-label class="bg-success">
      <div class="mt-3" >
        <h6 class="text-uppercase">Todos</h6>
      </div>
    </ng-template>
    <div class="demo-tab-content" >
      <div class="mt-2">
        <app-tabela-trabalhos-completo></app-tabela-trabalhos-completo>
      </div>
    </div>

  </mat-tab>


  <mat-tab label="Tab 2">
    <ng-template mat-tab-label class="bg-success">
      <div class="mt-2">
        <h6 class="text-uppercase">Protocolos</h6>
      </div>
    </ng-template>
    <div class="demo-tab-content">
      <div class="mt-3">
        <app-tabela-protocolos></app-tabela-protocolos>
      </div>
    </div>
  </mat-tab>

  <mat-tab label="Tab 3">
    <ng-template mat-tab-label class="bg-success">
      <div class="mt-2">
        <h6 class="text-uppercase">Trabalhos</h6>
      </div>
    </ng-template>
    <div class="demo-tab-content">
      <div class="mt-3">
        <app-tabela-trabalhos-apenas></app-tabela-trabalhos-apenas>
      </div>

    </div>
  </mat-tab>

</mat-tab-group>