<div *ngFor="let participante of docentes">
  <div class="media mb-1 mr-5">
    <a class="media-left waves-light">
      <avatar [name]="participante.nome" [displayType]="'circle'" [size]="70"></avatar>
      <!--<img class="rounded-circle" src="https://mdbootstrap.com/img/Photos/Avatars/avatar-7.jpg" alt="Generic placeholder image">-->
    </a>

    <div class="media-body ml-2">
      <p [ngStyle]="{'float':'right', 'color': getFuncaoColor()}" class="p-3">{{participante.funcao.designacao}}</p>
      <h4 class="media-heading">{{participante.nome }}</h4>

      <p>{{participante.area_participacao.designacao}}</p>

      <hr>
    </div>
  </div>
</div>