
<div class="col-md-3 float-left col-1 pl-0 pr-0 collapse width show" id="sidebar">
  <div class="list-group border-0 text-center text-md-left">
    <a class="list-group-item d-inline-block collapsed" data-parent="#sidebar" routerLink="estudante/app-trabalhos-submetidos">
      <i class="fa fa-home"></i>
      <span class="d-none d-md-inline">Pagina inicial</span>
    </a>
    <a class="list-group-item d-inline-block collapsed" data-parent="#sidebar" routerLink="estudante/app-trabalhos-submetidos">
      <i class="fa fa-file-word-o"></i>
      <span class="d-none d-md-inline">Trabalhos</span>
    </a>

    <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar" routerLink="/estudante/eventos">
      <i class="fa fa-clock-o"></i>
      <span class="d-none d-md-inline">Eventos</span>
    </a>


  </div>
</div>
