<div class="row">
  <mat-tab-group  [ngStyle]="{'width':'100%'}">
    <mat-tab label="Supervisao">
      <div class="col-lg-12">
        <app-lista-de-solicitacoes></app-lista-de-solicitacoes>
      </div>
    </mat-tab>
    <mat-tab label="Supervisionados">
      <div class="col-lg-12">
        <app-solicitacoes></app-solicitacoes>
      </div>
    </mat-tab>
    <mat-tab label="Solicitações">
      <div class="col-lg-12">
        <!--<app-solicitacoes></app-solicitacoes>-->
      </div>
    </mat-tab>
  </mat-tab-group>
</div>