


<div class="row" [ngStyle]="{'margin-top':'10px'}">
  <!--Table-->
  <table class="table">

    <!--Table head-->
    <thead class="mdb-color darken-3">
    <tr class="text-white">
      <th>#</th>
      <th>Tema</th>
      <th>Estudante</th>
      <th>Data Submissao</th>
      <th>Estado</th>
    </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody *ngFor="let trabalho of trabalhos">
    <tr>
      <th scope="row">{{trabalho.id}}</th>
      <td>{{trabalho.titulo}}</td>
      <td>{{trabalho.estudante.nome}}</td>
      <td>{{trabalho.created_at}}</td>
      <td>{{trabalho.is_aprovado}}</td>
    </tr>

    </tbody>
    <!--Table body-->
  </table>
</div>
