<!--Carousel Wrapper-->
<mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
  <!--First slide-->
  <mdb-slide>
    <div class="view hm-black-light">
      <img class="d-block w-100" src="../../assets/imagens/slider/1.JPG" alt="First slide">
      <div class="mask waves-light" mdbRippleRadius></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Trabalhos Feitos</h3>
      <p>Encontre trabalhos passados!</p>
    </div>
  </mdb-slide>
  <!--/First slide-->
  <!--Second slide-->
  <mdb-slide>
    <div class="view hm-black-strong">
      <img class="d-block w-100" src="../../assets/imagens/slider/2.JPG" alt="Second slide">
      <div class="mask waves-light" mdbRippleRadius></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Eventos</h3>
      <p>Saiba tudo sobre eventos de defesa e pre-defesa de trabalhos</p>
    </div>
  </mdb-slide>
  <!--/Second slide-->
  <!--Third slide-->
  <mdb-slide>
    <div class="view hm-black-slight">
      <img class="d-block w-100" src="../../assets/imagens/slider/3.JPG" alt="Third slide">
      <div class="mask waves-light" mdbRippleRadius></div>
    </div>
    <div class="carousel-caption">
      <h3 class="h3-responsive">Experiencia</h3>
      <p>Partilhe experiencias com outros colegas</p>
    </div>
  </mdb-slide>
  <!--/Third slide-->
</mdb-carousel>
<!--/.Carousel Wrapper-->
