.bold-text{
  font-weight: bold;
}
.right{
  float: right  !important;
}
.trabalho-detathes{
  padding: 0;
  margin-left: 0 !important;

}
.trabalho-detathes  li{
  display: inline;
  font-size: 12px;
}
