<!--Panel-->
<div class="row">
  <div class="col-lg-4" [ngStyle]="{'margin-top':'20px'}">
    <div class="card">
      <h5 class="card-header primary-color white-text">Ercilio Marques</h5>
      <div class="card-body">
        <h5 class="card-title">Sistema de Descoberta de truques</h5>
        <p class="card-text">Quando os truques sao indispensaveis para o sucesso e isso obriga a criar um estimulo que...</p>
        <a class="btn btn-primary waves-light" mdbRippleRadius>Ler mais</a>
      </div>
    </div>
  </div>

  <div class="col-lg-4" [ngStyle]="{'margin-top':'20px'}">
    <div class="card">
      <h5 class="card-header primary-color white-text">Ercilio Marques</h5>
      <div class="card-body">
        <h5 class="card-title">Sistema de Descoberta de truques</h5>
        <p class="card-text">Quando os truques sao indispensaveis para o sucesso e isso obriga a criar um estimulo que...</p>
        <a class="btn btn-primary waves-light" mdbRippleRadius>Ler mais</a>
      </div>
    </div>
  </div>

  <div class="col-lg-4" [ngStyle]="{'margin-top':'20px'}">
    <div class="card">
      <h5 class="card-header primary-color white-text">Ercilio Marques</h5>
      <div class="card-body">
        <h5 class="card-title">Sistema de Descoberta de truques</h5>
        <p class="card-text">Quando os truques sao indispensaveis para o sucesso e isso obriga a criar um estimulo que...</p>
        <a class="btn btn-primary waves-light" mdbRippleRadius>Ler mais</a>
      </div>
    </div>
  </div>

  <div class="col-lg-4" [ngStyle]="{'margin-top':'20px'}">
    <div class="card">
      <h5 class="card-header primary-color white-text">Ercilio Marques</h5>
      <div class="card-body">
        <h5 class="card-title">Sistema de Descoberta de truques</h5>
        <p class="card-text">Quando os truques sao indispensaveis para o sucesso e isso obriga a criar um estimulo que...</p>
        <a class="btn btn-primary waves-light" mdbRippleRadius>Ler mais</a>
      </div>
    </div>
  </div>

  <div class="col-lg-4" [ngStyle]="{'margin-top':'20px'}">
    <div class="card">
      <h5 class="card-header primary-color white-text">Ercilio Marques</h5>
      <div class="card-body">
        <h5 class="card-title">Sistema de Descoberta de truques</h5>
        <p class="card-text">Quando os truques sao indispensaveis para o sucesso e isso obriga a criar um estimulo que...</p>
        <a class="btn btn-primary waves-light" mdbRippleRadius>Ler mais</a>
      </div>
    </div>
  </div>

  <div class="col-lg-4" [ngStyle]="{'margin-top':'20px'}">
    <div class="card">
      <h5 class="card-header primary-color white-text">Ercilio Marques</h5>
      <div class="card-body">
        <h5 class="card-title">Sistema de Descoberta de truques</h5>
        <p class="card-text">Quando os truques sao indispensaveis para o sucesso e isso obriga a criar um estimulo que...</p>
        <a class="btn btn-primary waves-light" mdbRippleRadius>Ler mais</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4" [ngStyle]="{'margin-top':'20px'}">
    <div class="card">
      <h5 class="card-header primary-color white-text">Ercilio Marques</h5>
      <div class="card-body">
        <h5 class="card-title">Sistema de Descoberta de truques</h5>
        <p class="card-text">Quando os truques sao indispensaveis para o sucesso e isso obriga a criar um estimulo que...</p>
        <a class="btn btn-primary waves-light" mdbRippleRadius>Ler mais</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4" [ngStyle]="{'margin-top':'20px'}">
    <div class="card">
      <h5 class="card-header primary-color white-text">Ercilio Marques</h5>
      <div class="card-body">
        <h5 class="card-title">Sistema de Descoberta de truques</h5>
        <p class="card-text">Quando os truques sao indispensaveis para o sucesso e isso obriga a criar um estimulo que...</p>
        <a class="btn btn-primary waves-light" mdbRippleRadius>Ler mais</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4" [ngStyle]="{'margin-top':'20px'}">
    <div class="card">
      <h5 class="card-header primary-color white-text">Ercilio Marques</h5>
      <div class="card-body">
        <h5 class="card-title">Sistema de Descoberta de truques</h5>
        <p class="card-text">Quando os truques sao indispensaveis para o sucesso e isso obriga a criar um estimulo que...</p>
        <a class="btn btn-primary waves-light" mdbRippleRadius>Ler mais</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4" [ngStyle]="{'margin-top':'20px'}">
    <div class="card">
      <h5 class="card-header primary-color white-text">Ercilio Marques</h5>
      <div class="card-body">
        <h5 class="card-title">Sistema de Descoberta de truques</h5>
        <p class="card-text">Quando os truques sao indispensaveis para o sucesso e isso obriga a criar um estimulo que...</p>
        <a class="btn btn-primary waves-light" mdbRippleRadius>Ler mais</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4" [ngStyle]="{'margin-top':'20px'}">
    <div class="card">
      <h5 class="card-header primary-color white-text">Ercilio Marques</h5>
      <div class="card-body">
        <h5 class="card-title">Sistema de Descoberta de truques</h5>
        <p class="card-text">Quando os truques sao indispensaveis para o sucesso e isso obriga a criar um estimulo que...</p>
        <a class="btn btn-primary waves-light" mdbRippleRadius>Ler mais</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4" [ngStyle]="{'margin-top':'20px'}">
    <div class="card">
      <h5 class="card-header primary-color white-text">Ercilio Marques</h5>
      <div class="card-body">
        <h5 class="card-title">Sistema de Descoberta de truques</h5>
        <p class="card-text">Quando os truques sao indispensaveis para o sucesso e isso obriga a criar um estimulo que...</p>
        <a class="btn btn-primary waves-light" mdbRippleRadius>Ler mais</a>
      </div>
    </div>
  </div>
  <div class="col-lg-4" [ngStyle]="{'margin-top':'20px'}">
    <div class="card">
      <h5 class="card-header primary-color white-text">Ercilio Marques</h5>
      <div class="card-body">
        <h5 class="card-title">Sistema de Descoberta de truques</h5>
        <p class="card-text">Quando os truques sao indispensaveis para o sucesso e isso obriga a criar um estimulo que...</p>
        <a class="btn btn-primary waves-light" mdbRippleRadius>Ler mais</a>
      </div>
    </div>
  </div>

</div>
