<!--UMA SUGESTAOO-->
<!--<div class="media mb-1">-->
    <!--<div class="col-lg-3 col-sm-12">-->
        <!--<a class="media-left waves-light">-->
            <!--<img class="img-fluid" src="../../../../assets/imagens/trabalho/trabalho-img.png" alt="Generic placeholder image">-->
        <!--</a>-->
    <!--</div>-->

    <!--<div class="col-lg-9 col-sm-12" [ngStyle]="{'height':'240px'}">-->
        <!--<div class="media-body">-->
            <!--<p class="bold-text" [ngStyle]="{'float':'right'}">ha 2 dias</p>-->
            <!--<h4 class="media-heading">Ercilio Marques Mars Miiki Malukinho</h4>-->
            <!--<h5 class="media-heading bold-text">Problematica da especializacao e auto-determinacao na exploraacao de conteudo relativamente virado a aspectos ligados exclusivamente a mulher</h5>-->

            <!--<p>-->
                <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cupiditate temporibus iure soluta.-->
                <!--Quasi mollitia maxime nemo quam accusamus possimus, voluptatum expedita assumenda. Earum sit id ullam eum vel delectus!-->
                <!--Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi cupiditate temporibus iure soluta.-->
                <!--Quasi mollitia maxime nemo quam accusamus possimus.-->
            <!--</p>-->

            <!--<button type="button" class="btn btn-primary waves-light" mdbRippleRadius>Ler documento</button>-->
            <!--<button type="button" class="btn btn-primary waves-light" mdbRippleRadius>Detalhes</button>-->
            <!--<ul class="inline-ul right" [ngStyle]="{'margin-top':'20px'}">-->
                <!--<li>-->
                    <!--<i class="fa fa-eye" aria-hidden="true"></i>-->
                    <!--<span>18 | </span>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<span>SAUDE MENTAL | ANALISE | INFORMATICA </span>-->
                <!--</li>-->
                <!--&lt;!&ndash;<li><i class="fa fa-star"></i></li>&ndash;&gt;-->
                <!--&lt;!&ndash;<li><i class="fa fa-star"></i></li>&ndash;&gt;-->
            <!--</ul>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!-- FIM DE UMA SUGESTAOO-->
<!--<div class="col-lg-4" [ngStyle]="{'margin-top':'20px'}">-->
    <div class="card">
        <h5 class="card-header primary-color white-text">{{ trabalho.estudante.nome }}</h5>
        <div class="card-body">
            <p class="card-text" [ngStyle]="{'float':'right','font-size':'13px'}">ha 2 dias</p>
            <h5 class="card-title">{{ trabalho.titulo }}</h5>
            <p class="card-text">
                {{ trabalho.descricao }}
            </p>
            <ul class="trabalho-detathes" [ngStyle]="{'margin-lef':'0px'}">
                <li>
                    <i class="fa fa-eye card-text" aria-hidden="true"></i>
                    <span class="card-text">18 | </span>
                </li>
                <li>
                    <span>SAUDE MENTAL | ANALISE | INFORMATICA </span>
                </li>
            </ul>

            <a href="#" [ngStyle]="{'font-size':'20px'}">Ler mais</a>
        </div>
    </div>
<!--</div>-->

