<div class="container align-middle">
  <div class="row" id="wait-for-result-container" [ngStyle]="{'margin-top':'15%'}">
    <div class="col-lg-3"></div>
    <div class="col-lg-5 align-middle">
      <div class="card">
        <div class="card-body">
          <!-- Login form -->
          <form>
            <p class="h5 text-center mb-4">Sign in</p>

            <div class="md-form">
              <i class="fa fa-envelope prefix grey-text"></i>
              <input type="text" id="defaultForm-email" class="form-control" mdbActive>
              <label for="defaultForm-email">Seu email usado no SIGAUEM</label>
            </div>

            <div class="md-form">
              <i class="fa fa-lock prefix grey-text"></i>
              <input type="password" id="defaultForm-pass" class="form-control" mdbActive>
              <label for="defaultForm-pass">Senha</label>
            </div>

            <div class="text-right">
              <a class="btn btn-primary waves-light" href="/estudante/documentos-submetidos" mdbRippleRadius>Login</a>
            </div>
            <div class="text-right" [ngStyle]="{'margin-top':'15px','font-size':'14px'}">
              <a href="/login">Esquecei a senha</a>
            </div>

          </form>
          <hr>
          <br>
          <div class="text-center" [ngStyle]="{'margin-bottom':'15px'}" >
            <span>Nao possui conta? </span><a href="/criar-conta">Crie aqui</a>
          </div>
          <!-- Login form -->
        </div>
      </div>
    </div>
  </div>

</div>
