<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo fixed-top scrolling-navbar" [ngStyle]="{'background-color':'#00695c'}" >


  <logo [ngStyle]="{'width':'40%'}">
    <a class="navbar-brand" href="#">{{ nomeDaApp }}</a>
    <a class="white-text" routerLink="/" >Trabalho Cientificos</a>
  </logo>


  <links [hidden]="!(rota == '/')">
    <ul class="navbar-nav mr-auto">
      <form class="form-inline">
        <i class="fa fa-search prefix"></i>
        <input class="form-control" type="text" placeholder="Pesquisar">
      </form>
    </ul>

    <div *ngIf="!user">
      <span class="navbar-text white-text">
        <a class="right lg-a" routerLink="/login" href="login">
          <i class="fa fa-sign-in" aria-hidden="true"></i>
            <span>Login</span>
        </a>
      </span>
    </div>

    <div *ngIf="user">
      <span class="navbar-text white-text">
        <a class="right lg-a" routerLink="/login" href="estudante/submeter-trabalho">
          <span>{{user.email}}</span>
        </a>
      </span>
    </div>

  </links>
</mdb-navbar>

<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo" [ngStyle]="{'background-color':'#00695c','margin-top':'100px'}">

  <links>
    <!--<div class="row">-->
      <div class="col-lg-8">
        <mdb-select [ngStyle]="{'background-color':'#00695c'}" [options]="optionsSelect" placeholder="Choose your option"></mdb-select>
        <label [ngStyle]="{'background-color':'#00695c'}">Example label</label>
      </div>
  </links>
</mdb-navbar>


