mdb-navbar{
  background-color: #00695c !important;
  color: #fff;

}

.nome-da-app{
  font-size: 24px;
  font-weight: bold;
}
.pesquisa{
  margin: 0 20px !important;
}
.pesquisa >input{
  width: 100% !important;
}
.log{
  float: right;
}
