<div class="row">
  <div class="col-7">
    <form>

      <app-select [label]="label" [opcoes]="areas" (eventEmmiter)="setAreaId($event)"></app-select>

      <div class="md-form">
        <input type="text" id="tema" (input)="titulo=$event.target.value" class="form-control" mdbActive>
        <label for="tema">Tema</label>
      </div>

      <div class="md-form">
        <textarea mdbActive type="text" id="descricao" (input)="descricao= $event.target.value" class="md-textarea"></textarea>
        <label for="descricao">Descricao</label>
      </div>


      <label>Documento</label>
      <app-file-input [textoDaLabel]="labelDoFileChooser" (eventEmiter)="atribuirValor($event)"></app-file-input>


      <div class="text-left">

        <input type="radio" checked (change)="setTipoSup(1)"  name="tipoSup" id="t1" value="1"><label for="t1">Supervisor Interno</label><br>
        <input type="radio" (change)="setTipoSup(2)" name="tipoSup" id="t2" value="2"><label for="t2">Supervisor Externo</label>  <br>
        <app-select-supervisor [label]="label2" [opcoes]="supervisores" (eventEmmiter)="atribuirSupervisor($event)"></app-select-supervisor>
      </div>

      <div class="left">
        <input type="checkbox" id="checkbox">
        <label for="checkbox">Eu Confirmo que as infomacoes fornecidas sao verdadeiras</label>
      </div>

      <div class="text-right">
        <a class="btn btn-primary waves-light" name="btnSub" (click)="submeter()" mdbRippleRadius>
          <i class="fa fa-upload"></i>
          Submeter
        </a>
      </div>
    </form>

  </div>
</div>
