<div class="row">
  <div class="col-8">
    <form>
      <app-select [label]="label" [opcoes]="opcoes"></app-select>

      <div class="md-form">
        <input type="text" id="tema" class="form-control" mdbActive>
        <label for="tema">Tema</label>
      </div>

      <div class="md-form">
        <textarea mdbActive type="text" id="descricao" class="md-textarea"></textarea>
        <label for="descricao">Descricao</label>
      </div>

      <div class="md-form">
        <input type="email" id="email" class="form-control" mdbActive>
        <label for="email">Email</label>
      </div>

      <div class="md-form">
        <input type="password" id="senha" class="form-control" mdbActive>
        <label for="senha">Senha</label>
      </div>

      <div class="md-form">
        <input type="password" id="confSenha" class="form-control" mdbActive>
        <label for="confSenha">Confirnar Senha</label>
      </div>

      <div class="text-right">
        <a class="btn btn-default waves-light" href="/estudante/pagina-inicial" mdbRippleRadius>Registar</a>
      </div>
    </form>

  </div>
</div>
