<div mdbModal #modalParticipantes="mdb-modal" class="modal fade" id="basicExample" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="demoBasic.hide()">-->
        <!--<span aria-hidden="true">×</span>-->
        <!--</button>-->
      </div>
      <div class="modal-body">


        <div class="form-group">
          <input type="text" name="participante" id="participante" placeholder="Adicionar Paricipantes"/>
          <label for="participante">Participantes</label>
          <ng-autocomplete (selected)="Selected($event)" [classes]="['']" [group]="group"></ng-autocomplete>
        </div>


        <div class="text-center">
          <button class="btn btn-primary" (click)="salvarParticipantes()">Salvar Participantes</button>
        </div>
      </div>
    </div>
  </div>
</div>
