<a *ngIf="solicitacao">
  <div [style.background-color]="cor" (mouseover)="changeStyle($event)" (mouseout)="changeStyle($event)" (click)="onMostrarModal()">
    <div class="pull-left bg-info" [ngStyle]="{'border-left':'solid 5px #fa0','position':'absolute','height':'100%','margin-right':'10px'}"></div>

    <div style="margin-left: 10px; padding: 10px">
      <h5 style="float: left;font-weight: bold; margin-right: 5px">Solicitacao de Supervisao de avaliacao de protocolo</h5>
      <h5>{{ solicitacao[0].created_at | date : 'dd/MM/yyyy'}}</h5>
      <p>
        A Comissao Cientifica solicita a sua avaliacao sob o trabalho do estudante
        <a style="font-weight: bold">{{ solicitacao[2].estudante.nome}} {{ solicitacao[2].estudante.apelido}}</a>
         com o tema:
        {{ solicitacao[2].titulo}}
      </p>

      <p> Data Limite: <span [ngStyle]="{'color':'#f00'}">{{ solicitacao[0].data_limite | date: 'dd/MM/yyyy' }}</span></p>
    </div>
  </div>
</a>


