<div class="card mt-4">
  <!--Card content-->
  <div class="card-body">
    <!--Title-->
    <h4 class="card-title text-center">Solicitacoes</h4>


    <!--<div class="row">-->
      <!--<app-grafico-barras class="col-md-6"></app-grafico-barras>-->
      <!--<app-grafico-circular class="col-md-6"></app-grafico-circular>-->
    <!--</div>-->
  </div>

  <div class="col-md-12 text-center">
    <a class="btn btn-primary waves-light center-block" routerLink="/comissao-cientifica/estatisticas">Ver detalhes</a>
  </div>
</div>