<!--<div class="card mt-4">-->
  <!--&lt;!&ndash;Card content&ndash;&gt;-->
  <!--<div class="card-body">-->
    <!--&lt;!&ndash;Title&ndash;&gt;-->
    <!--<h4 class="card-title">Solicitacoes</h4>-->

  <!--</div>-->


<!--</div>-->
<!--<div class="card mt-4">-->
  <!--&lt;!&ndash;Card content&ndash;&gt;-->
  <!--<div class="card-body">-->

      <!--<app-lista-de-solicitacoes class="col-md-6"></app-lista-de-solicitacoes>-->

  <!--</div>-->
<!--</div>-->
<!--<app-lista-de-solicitacoes></app-lista-de-solicitacoes>-->
<div class="card mt-3">
    <div class="card-body">
        <!--TEMAS AREA STARTS HERE-->
        <!--<div class="row">-->
            <!--<div class="col-lg-12">-->
                <app-tab-solicitacoes></app-tab-solicitacoes>
            <!--</div>-->
        <!--</div>-->
    </div>
</div>