<app-modal-responder-solicitacao-supervisao (output)="getModal($event)"></app-modal-responder-solicitacao-supervisao>

<a>
  <div [style.background-color]="cor" (mouseover)="changeStyle($event)" (mouseout)="changeStyle($event)" (click)="onMostrarModal()">
    <div class="pull-left bg-info" [ngStyle]="{'border-left':'solid 5px #f00','position':'absolute','height':'100%','margin-right':'10px'}"></div>

    <div style="margin-left: 10px; padding: 10px">
      <h5 style="float: left;font-weight: bold; margin-right: 5px">Solicitacao de Supervisao de trabalho</h5>
      <h5 >10 minutos atras</h5>
      <p>
        <a style="font-weight: bold">Alfredo Sebastiao</a> Adicionou-te como supervisor do trabalho com o tema: prototipo de um sistema para candidatura de
      </p>
    </div>
  </div>
</a>
