<div class="example-container" >
  <!--<p>dataS:{{ }}</p>-->
  <table class="table">

    <!--Table head-->
    <thead class="mdb-color darken-3">
    <tr class="text-white">
      <th>#</th>
      <th>Tema</th>
      <th>Estudante</th>
      <th>Data Submissao</th>
      <th>Estado</th>
    </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody *ngFor="let estudante of estudantes">
    <tr>
      <th scope="row">{{estudante[0].apelido}}</th>
      <td>{{estudante[0].nome}}</td>
      <td>{{estudante[0].nome}}</td>
      <td>{{estudante[0].created_at}}</td>
      <!--<td>-->
        <!--<a [class.alert-danger]="'Nao Aprovado' == getEstado(e.is_aprovado)" class="p-1"-->
           <!--[class.alert-success]="'Aprovado' == getEstado(trabalho.is_aprovado)">-->
          <!--{{getEstado(trabalho.is_aprovado)}}-->
        <!--</a>-->
      <!--</td>-->
    </tr>


    </tbody>
    <!--Table body-->
  </table>
</div>