<div class="example-container" >
  <h1 class="text-center text-info text-uppercase" *ngIf="!estudantes">Nenhum Supervisionando Actual</h1>
  <table class="table" *ngIf="estudantes">

    <!--Table head-->
    <thead >
    <tr class="text-black">
      <th>Nome Completo</th>
      <th>Tema do trabalho</th>
      <th>Submetido em</th>
      <th>Estado</th>
    </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->
    <tbody *ngFor="let estudante of estudantes">
    <tr>
      <th>{{estudante[0].nome}} {{estudante[0].apelido}} </th>
      <td>{{estudante[0].nome}}</td>
      <td>{{estudante[0].created_at | date : 'dd/MM/yyyy'}}</td>
      <td>
        <a [class.alert-danger]="'Nao Aprovado' == getEstado(estudante[0].is_aprovado)" class="p-1"
           [class.alert-success]="'Aprovado' == getEstado(estudante[0].is_aprovado)">
          {{getEstado(estudante[0].is_aprovado)}}
        </a>
      </td>
    </tr>


    </tbody>
    <!--Table body-->
  </table>
</div>