
<div class="col-md-2 float-left col-1 pl-0 pr-0 collapse width show" id="sidebar">
  <div class="list-group border-0 text-center text-md-left">
    <a class="list-group-item d-inline-block collapsed" data-parent="#sidebar" [routerLink]="['/comissao-cientifica/over-view']">
      <i class="fa fa-home"></i>
      <span class="d-none d-md-inline">Pagina inicial</span>
    </a>
    <a class="list-group-item d-inline-block collapsed" data-parent="#sidebar" [routerLink]="['/comissao-cientifica/trabalhos']">
      <i class="fa fa-file-word-o"></i>
      <span class="d-none d-md-inline">Trabalhos</span>
    </a>
    <a class="list-group-item d-inline-block collapsed" data-parent="#sidebar" routerLink="/comissao-cientifica/docentes">
      <i class="fa fa-user"></i>
      <span class="d-none d-md-inline">Docentes</span>
    </a>
    <div [routerLinkActive]="['selecionado']">
      <a class="list-group-item d-inline-block collapsed" data-parent="#sidebar" [routerLink]="['/comissao-cientifica/eventos']">
        <i class="fa fa-user"></i>
        <span class="d-none d-md-inline">Eventos</span>
      </a>
    </div>

    <a class="list-group-item d-inline-block collapsed" data-parent="#sidebar" routerLink="/comissao-cientifica/estatisticas">
      <i class="fa fa-clock-o"></i>
      <span class="d-none d-md-inline">Estatisticas</span>
    </a>

  </div>
</div>
