<div mdbModal #modal="mdb-modal" class="modal fade" id="basicExample1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
       <h4>Sugerir Tema</h4>
      </div>
      <div class="modal-body">
        <p>asasas</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm waves-light" data-dismiss="modal" (click)="modal.hide()" mdbRippleRadius>Fechar</button>
          <button type="button" class="btn btn-primary btn-sm waves-light" mdbRippleRadius>Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>