<div class="row">
  <mdb-tabset [buttonClass]="'classic-tabs tabs-orange'" [contentClass]="'card'" class="classic-tabs">
    <!--Panel 1-->
    <mdb-tab heading="<i class='fa fa-user fa-2x'></i><br>Profile">
      <div class="row">
        <div class="col-12">
          <app-tabela-trabalho></app-tabela-trabalho>
        </div>
      </div>
    </mdb-tab>
    <!--Panel 2-->
    <mdb-tab heading="<i class='fa fa-heart fa-2x'></i><br>Follow">
      <div class="row">
        <div class="col-12">
          <br>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil odit magnam minima, soluta doloribus reiciendis molestiae placeat unde eos molestias. Quisquam aperiam, pariatur. Tempora, placeat ratione porro voluptate odit minima.</p>
        </div>
      </div>
    </mdb-tab>
  </mdb-tabset>
</div>
