
<div class="row" [ngStyle]="{'margin-top':'10px'}">
  <!--Table-->
  <table class="table">

    <!--Table head-->
    <thead class="mdb-color darken-3">
    <tr class="text-white">
      <th>    </th>
      <th>#</th>
      <th>Tema</th>
      <th>Estudante</th>
      <th>Data Submissao</th>
      <th>Estado</th>
    </tr>
    </thead>
    <!--Table head-->

    <!--Table body-->

    <tbody *ngFor="let protocolo of protocolos; let contador = index">
    <tr class="hoverable" (click)="onClickTrabalho(protocolo)" data-toggle="modal" data-target="#basicExample">
      <td>    </td>
      <td scope="row">{{contador+1}}</td>
      <td>{{protocolo.titulo}}</td>
      <td>{{protocolo.nome}}</td>
      <td>{{(protocolo.created_at) | date : 'dd/MM/yyyy'}}</td>
      <td>
        <a [class.alert-danger]="'Reprovado' == (protocolo.estado_ficheiro)" class="p-1"
           [class.alert-success]="'Aprovado' == getEstado(protocolo.estado_ficheiro)">
          {{protocolo.estado_ficheiro}}
        </a>
      </td>
    </tr>


    </tbody>
    <!--Table body-->
  </table>
</div>




